{% set options = options|default([]) %}
{% set multiple = multiple|default(false) %}
{% set includeEmpty = includeEmpty|default(true) %}
{% set includeEmptyContent= includeEmptyContent|default('-- select an option --') %}

{% embed 'forms/inputTemplates/_fieldset.twig' %}
    {% block input %}
        <select
            name="{{ name }}"
            id="{{ name }}"
            class="select JS-Select StandardForm__Select"
            {% if multiple %}
            multiple
            {% endif %}
        >
            {% if not multiple %}
                {% if includeEmpty %}
                    <option value="">{{ includeEmptyContent }}</option>
                {% endif %}
            {% endif %}
            {% for val, option in options %}
                <option value="{{ val }}"{% if value == val %} selected{% endif %}>
                    {{ option }}
                </option>
            {% endfor %}
        </select>
    {% endblock %}
{% endembed %}
