{% set formAction = formAction|default(false) %}
{% set actionParam = actionParam|default(false) %}
{% set formTitle = formTitle|default(false) %}
{% set formSubTitle = formSubTitle|default(false) %}
{% set inputs = inputs|default([]) %}
{% set submitText = submitText|default('Submit') %}
{% set isFullWidth = isFullWidth|default(false) %}

{# @var \corbomite\requestdatastore\DataStoreInterface dataStore #}
{% set dataStore = dataStore() %}

{#{% do dataStore.storeItem('FormSubmission.inputErrors', {
    title: [
        'This input is required'
    ]
}) %}#}

{#{% do dataStore.storeItem('FormSubmission.inputValues', {
    title: 'ASDF'
}) %}#}

{% set inputErrors = dataStore.storeItem('FormSubmission.inputErrors') ?? [] %}
{% set inputValues = dataStore.storeItem('FormSubmission.inputValues') ?? [] %}
{% set parentIsForm = parentIsForm ?? false %}

{% set standardFormClass = 'StandardForm' %}

{% if isFullWidth %}
    {% set standardFormClass = standardFormClass ~ ' StandardForm--IsFullWidth' %}
{% endif %}

{% block content %}
    {% if parentIsForm %}
    <div class="{{ standardFormClass }}">
    {% else %}
    <form
        {% if formAction %}
        action="{{ formAction }}"
        {% endif %}
        method="post"
        accept-charset="UTF-8"
        class="{{ standardFormClass }}"
    >
        {{ getCsrfInput() }}
        {% if actionParam %}
            <input type="hidden" name="action" value="{{ actionParam }}">
        {% endif %}
    {% endif %}
        {% if formTitle %}
            <h2 class="StandardForm__Title">{{ formTitle|smartypants }}</h2>
        {% endif %}
        {% if formSubTitle %}
            <h2 class="StandardForm__SubTitle heading heading--level-6">
                {{ formSubTitle|smartypants }}
            </h2>
        {% endif %}
        {% for input in inputs %}
            {% include 'forms/inputTemplates/' ~ input.template|ucfirst ~ '.twig' with input %}
        {% endfor %}
        <fieldset class="fieldset StandardForm__Fieldset">
            <input
                type="submit"
                class="button StandardForm__Button"
                value="{{ submitText }}"
            >
        </fieldset>
    {% if not parentIsForm %}
    </form>
    {% else %}
    </div>
    {% endif %}
{% endblock %}
