{% set formAction = formAction|default(false) %}
{% set actionParam = actionParam|default(false) %}
{% set formTitle = formTitle|default('') %}
{% set table = table|default([]) %}
{% set submitText = submitText|default('Submit') %}
{% set actions = actions|default([]) %}
{% set actionColButtonContent = actionColButtonContent|default('') %}
{% set tableControlButtons = tableControlButtons|default([]) %}
{% set includeSelectCol = includeSelectCol ?? true %}
{% set includeFilter = includeFilter ?? true %}
{% set hiddenInput = hiddenInput ?? null %}
{% set forceIncludeSubmitButton = forceIncludeSubmitButton ?? false %}

{% block content %}
    <form
        {% if formAction %}
        action="{{ formAction }}"
        {% endif %}
        method="post"
        accept-charset="UTF-8"
        class="TableList JS-Filterable"
    >
        {{ getCsrfInput() }}
        {% if actionParam %}
            <input type="hidden" name="action" value="{{ actionParam }}">
        {% endif %}
        {% if hiddenInput %}
            <input type="hidden" name="{{ hiddenInput.name }}" value="{{ hiddenInput.value }}">
        {% endif %}
        {% if formTitle or tableControlButtons|length %}
            <div class="TableList__Controls">
                <h2 class="TableList__Title">{{ formTitle|smartypants }}</h2>
                <div class="TableList__ControlsButtons">
                    {% for button in tableControlButtons %}
                        <a
                            href="{{ button.href }}"
                            class="button TableList__ControlsButton"
                        >
                            {{ button.content|smartypants }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if includeFilter %}
            <div class="TableList__Filter">
                <input
                    type="search"
                    placeholder="Filter Results"
                    class="input TableList__FilterInput JS-Filterable__FilterInput"
                >
            </div>
        {% endif %}
        {% set cols =  includeSelectCol ? 1 : 0 %}
        <table class="Table{% if includeSelectCol %} JS-TableSelects{% endif %}">
            <thead class="Table__Heading">
                <tr class="Table__HeadingRow">
                    {% for heading in table.headings %}
                        {% set width = table['widths'][heading] ?? null %}
                        {% set cols = cols + 1 %}
                        <th
                            class="Table__HeadingCol{% if loop.first %} Table__HeadingCol--IsFirst{% endif %}"
                            {% if width %}
                            width="{{ width }}"
                            {% endif %}
                        >
                            {{ heading|smartypants }}
                        </th>
                    {% endfor %}
                    {% if actionColButtonContent %}
                        {% set cols = cols + 1 %}
                        <th class="Table__HeadingCol">
                            Action
                        </th>
                    {% endif %}
                    {% if includeSelectCol %}
                    <th class="Table__HeadingCol Table__HeadingCol--IsLast Table__HeadingCol--IsSelector">
                        <input type="checkbox" class="{% if includeSelectCol %}JS-TableSelects__All{% endif %}">
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="Table__Body JS-Filterable__ItemsContainer">
                {% if table.rows|length < 1 %}
                    <tr class="Table__Row Table__Row--IsNoResultsRow">
                        <td colspan="{{ cols }}" class="Table__Column Table__Column--IsFirst">
                            No results found
                        </td>
                    </tr>
                {% endif %}
                {% for row in table.rows %}
                    <tr
                        class="Table__Row JS-TableSelects__SelectRow JS-Filterable__Items"
                        data-selected-class="Table__Row--IsSelected"
                    >
                        {% for col in table.headings %}
                            {% set link = row['colLinks'][col] ?? false %}
                            {% set styled = row['colorStyledCols'][col] ?? false %}
                            <td
                                class="Table__Column{% if loop.first %} Table__Column--IsFirst{% endif %}"
                            >
                                {% if link %}
                                <a href="{{ link }}" target="_blank" class="{% if includeSelectCol %}JS-TableSelects__SelectEscape{% endif %}">
                                {% endif %}
                                {% if styled %}
                                <span class="StyledTag StyledTag--{{ styled }}">
                                {% endif %}
                                    {% set rowVal = row.cols[col] %}
                                    {% if rowVal is iterable %}
                                        {% if rowVal.type == 'checkbox' %}
                                            <fieldset class="fieldset StandardForm__Fieldset StandardForm__Fieldset--ForCheckbox">
                                                <label
                                                    for="{{ rowVal.name }}"
                                                    class="label StandardForm__Label StandardForm__Label--ForCheckbox"
                                                >
                                                    <input
                                                        type="checkbox"
                                                        name="{{ rowVal.name }}"
                                                        value="true"
                                                        id="{{ rowVal.name }}"
                                                        class="checkbox StandardForm__Checkbox"
                                                        {% if rowVal['checked'] is defined and rowVal['checked'] %}
                                                        checked
                                                        {% endif %}
                                                    >
                                                    <span class="StandardForm__CheckMark"></span>
                                                </label>
                                            </fieldset>
                                        {% endif %}
                                    {% else %}
                                        {{ rowVal|smartypants }}
                                    {% endif %}
                                {% if styled %}
                                </span>
                                {% endif %}
                                {% if link %}
                                </a>
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if actionColButtonContent %}
                            <td class="Table__Column">
                                <a href="{{ row.actionButtonLink ?? '#' }}" class="button button--outlined{% if includeSelectCol %} JS-TableSelects__SelectEscape{% endif %}">
                                    {{ actionColButtonContent|smartypants }}
                                </a>
                            </td>
                        {% endif %}
                        {% if includeSelectCol %}
                            <td class="Table__Column Table__Column--IsLast Table__Column--IsSelector">
                                <input
                                    type="checkbox"
                                    name="{{ table.inputsName }}"
                                    value="{{ row.inputValue }}"
                                    class="JS-TableSelects__ItemSelector{% if includeSelectCol %} JS-TableSelects__SelectEscape{% endif %}"
                                >
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% if (actions|length > 0 or forceIncludeSubmitButton) and table.rows|length > 0 %}
                <tfoot class="Table__Footer">
                    <tr class="Table__FooterRow">
                        <td colspan="{{ cols }}" class="Table__FooterCol">
                            {% if actions|length > 0 %}
                                <div class="fieldset Table__Fieldset">
                                    <select name="bulk_action" class="select select--inline Table__BulkSelect">
                                        <option value="">-- Select an Action --</option>
                                        {% for action, actionTitle in actions %}
                                            <option value="{{ action }}">
                                                {{ actionTitle|smartypants }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <div class="fieldset Table__Fieldset">
                                <input
                                    type="submit"
                                    class="button Table__Button"
                                    value="{{ submitText }}"
                                >
                            </div>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </form>
{% endblock %}
