{% extends 'layouts/LayoutMaster.twig' %}

{% set formAction = formAction|default(false) %}
{% set actionParam = actionParam|default(false) %}
{% set title = title|default('') %}
{% set table = table|default([]) %}
{% set submitText = submitText|default('Submit') %}
{% set actions = actions|default([]) %}
{% set actionColButtonContent = actionColButtonContent|default('') %}
{% set tableControlButtons = tableControlButtons|default([]) %}

{% block content %}
    <form
        {% if formAction %}
        action="{{ formAction }}"
        {% endif %}
        method="post"
        accept-charset="UTF-8"
        class="TableList"
    >
        {{ getCsrfInput() }}
        {% if actionParam %}
            <input type="hidden" name="action" value="{{ actionParam }}">
        {% endif %}
        <div class="TableList__Controls">
            <h1 class="TableList__Title">{{ title|smartypants }}</h1>
            <div class="TableList__ControlsButtons">
                {% for button in tableControlButtons %}
                    <a
                        href="{{ button.href }}"
                        class="button TableList__ControlsButton"
                    >
                        {{ button.content|smartypants }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% set cols = 1 %}
        <table class="Table JS-TableSelects">
            <thead class="Table__Heading">
                <tr class="Table__HeadingRow">
                    {% for heading in table.headings %}
                        {% set cols = cols + 1 %}
                        <th class="Table__HeadingCol{% if loop.first %} Table__HeadingCol--IsFirst{% endif %}">
                            {{ heading|smartypants }}
                        </th>
                    {% endfor %}
                    {% if actionColButtonContent %}
                        {% set cols = cols + 1 %}
                        <th class="Table__HeadingCol">
                            Action
                        </th>
                    {% endif %}
                    <th class="Table__HeadingCol Table__HeadingCol--IsLast Table__HeadingCol--IsSelector">
                        <input type="checkbox" class="JS-TableSelects__All">
                    </th>
                </tr>
            </thead>
            <tbody class="Table__Body">
                {% for row in table.rows %}
                    <tr
                        class="Table__Row JS-TableSelects__SelectRow"
                        data-selected-class="Table__Row--IsSelected"
                    >
                        {% for col in table.headings %}
                            <td class="Table__Column{% if loop.first %} Table__Column--IsFirst{% endif %}">
                                {{ row.cols[col]|smartypants }}
                            </td>
                        {% endfor %}
                        {% if actionColButtonContent %}
                            <td class="Table__Column">
                                <a href="{{ row.actionButtonLink ?? '#' }}" class="button button--outlined JS-TableSelects__SelectEscape">
                                    {{ actionColButtonContent|smartypants }}
                                </a>
                            </td>
                        {% endif %}
                        <td class="Table__Column Table__Column--IsLast Table__Column--IsSelector">
                            <input
                                type="checkbox"
                                name="{{ table.inputsName }}"
                                value="{{ row.inputValue }}"
                                class="JS-TableSelects__ItemSelector JS-TableSelects__SelectEscape"
                            >
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="Table__Footer">
                <tr class="Table__FooterRow">
                    <td
                        colspan="{{ cols }}"
                        class="Table__FooterCol"
                    >
                        <div class="fieldset Table__Fieldset">
                            <select name="bulk_action" class="select select--inline Table__BulkSelect">
                                <option value="">-- Select an Action --</option>
                                {% for action, actionTitle in actions %}
                                    <option value="{{ action }}">
                                        {{ actionTitle|smartypants }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="fieldset Table__Fieldset">
                            <input
                                type="submit"
                                class="button Table__Button"
                                value="{{ submitText }}"
                            >
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}
