{% extends 'layouts/LayoutMaster.twig' %}

{% set title = title|default('') %}
{% set subTitle = subTitle|default('') %}
{% set pageControlButtons = pageControlButtons|default([]) %}
{% set includes = includes|default([]) %}
{% set tags = tags|default([]) %}
{% set controlsHasBorderBottom = controlsHasBorderBottom|default(false) %}
{% set formWrap = formWrap|default(false) %}
{% set innerComponentsHtml = innerComponentsHtml|default(null) %}
{% set ajaxInnerRefreshUrl = ajaxInnerRefreshUrl|default(null) %}

{% block content %}
    {% if formWrap %}
        {% set formAction = formAction|default(false) %}
        {% set formActionParam = formActionParam|default(false) %}
        <form
            {% if formAction %}
            action="{{ formAction }}"
            {% endif %}
            method="post"
            accept-charset="UTF-8"
        >
        {{ getCsrfInput() }}
        {% if formActionParam %}
            <input type="hidden" name="action" value="{{ formActionParam }}">
        {% endif %}
    {% endif %}
    <div class="StandardPage">
        <div class="StandardPage__Inner">
            <div class="StandardPage__Controls{% if controlsHasBorderBottom %} StandardPage__Controls--HasBorderBottom{% endif %}">
                <h1 class="StandardPage__Title">
                    {{ title|smartypants }}
                    {% if subTitle %}
                        <span class="StandardPage__TitleSub">{{ subTitle|smartypants }}</span>
                    {% endif %}
                    {% if tags|length %}
                        <span class="StandardPage__Tags">
                            {% for tag in tags %}
                                <span class="StyledTag StyledTag--{{ tag.style }}">
                                    {{ tag.content|smartypants }}
                                </span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </h1>
                <div class="StandardPage__ControlsButtons">
                    {% for button in pageControlButtons %}
                        {% set type = button['type'] ?? 'link' %}
                        {% if type == 'submitInput' %}
                             <input
                                type="submit"
                                class="button StandardPage__ControlsButton"
                                value="{{ button.content|smartypants }}"
                            >
                        {% else %}
                            <a
                                href="{{ button.href }}"
                                class="button StandardPage__ControlsButton"
                            >
                                {{ button.content|smartypants }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div
                class="StandardPage__InnerLayoutsAndComponents"
                {% if ajaxInnerRefreshUrl %}
                data-ajax-refresh-url="{{ ajaxInnerRefreshUrl }}"
                {% endif %}
            >
                {% if innerComponentsHtml %}
                    {{ innerComponentsHtml|raw }}
                {% endif %}
                {% for params in includes %}
                    <div class="StandardPage__InnerLayoutsAndComponentsItem">
                        {% include params['template'] with params only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if formWrap %}
        </form>
    {% endif %}
{% endblock %}
