{% extends 'layouts/LayoutMaster.twig' %}

{% set title = title|default('') %}
{% set subTitle = subTitle|default('') %}
{% set pageControlButtons = pageControlButtons|default([]) %}
{% set includes = includes|default([]) %}
{% set tags = tags|default([]) %}
{% set controlsHasBorderBottom = controlsHasBorderBottom|default(false) %}

{% block content %}
    <div class="StandardPage">
        <div class="StandardPage__Inner">
            <div class="StandardPage__Controls{% if controlsHasBorderBottom %} StandardPage__Controls--HasBorderBottom{% endif %}">
                <h1 class="StandardPage__Title">
                    {{ title|smartypants }}
                    {% if subTitle %}
                        <span class="StandardPage__TitleSub">{{ subTitle|smartypants }}</span>
                    {% endif %}
                    {% if tags|length %}
                        <span class="StandardPage__Tags">
                            {% for tag in tags %}
                                <span class="StyledTag StyledTag--{{ tag.style }}">
                                    {{ tag.content|smartypants }}
                                </span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </h1>
                <div class="StandardPage__ControlsButtons">
                    {% for button in pageControlButtons %}
                        <a
                            href="{{ button.href }}"
                            class="button StandardPage__ControlsButton"
                        >
                            {{ button.content|smartypants }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="StandardPage__InnerLayoutsAndComponents">
                {% for params in includes %}
                    <div class="StandardPage__InnerLayoutsAndComponentsItem">
                        {% include params['template'] with params only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
